# <font face = 'Impact' color = '#FFAEBC' > Loading, Organizing, and Storing Data One <font/>
#### <font face = 'Times New Roman' color = '#B5E5CF'> License: GPL v3.0 <font/>
#### <font face = 'Times New Roman' color = '#B5E5CF'> Author and Trainer: Paolo Hilado MSc. (Data Science)<font/>
In this section, we focus on importing, structuring, and saving data using Python. We'll use the pandas library along with base Python functions to load data from common file formats such as CSV and Excel. Once the data is loaded into pandas DataFrames, we’ll explore basic techniques to organize and inspect the data—such as viewing column names, checking data types, and handling missing values. Finally, we’ll learn how to store the cleaned and structured data back into files for future use.

In [7]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import researchpy as rp
import os

In [4]:
# Checking out the current working directory
print(os.getcwd())

C:\Users\masig\Downloads\Data Notebook Day One

In [5]:
#Loading a spreadsheet and assigning it to a variable
#We will open and work on "ExperimentOne.xlsx"
df = pd.read_excel("ExperimentTwo.xlsx")

In [6]:
#Viewing the dataframe
df

    ID    Pre   Post  Group
0    1   2.03  17.23  Cntrl
1    2   4.02  16.04  Cntrl
2    3  14.34  19.22  Cntrl
3    4  15.55  19.45  Cntrl
4    5   2.05  18.53  Cntrl
..  ..    ...    ...    ...
70  71   8.34   6.86     Tx
71  72   7.52  17.63     Tx
72  73   5.21  18.84     Tx
73  74   3.73  15.11     Tx
74  75  12.38  19.07     Tx

[75 rows x 4 columns]

In [9]:
# Viewing the first rows
df.head(10)

   ID    Pre   Post  Group
0   1   2.03  17.23  Cntrl
1   2   4.02  16.04  Cntrl
2   3  14.34  19.22  Cntrl
3   4  15.55  19.45  Cntrl
4   5   2.05  18.53  Cntrl
5   6  11.07  21.00  Cntrl
6   7  11.03  19.28  Cntrl
7   8   1.37  19.63  Cntrl
8   9   6.02  12.66  Cntrl
9  10  15.75  17.55  Cntrl

In [10]:
# Viewing the last rows
df.tail(10)

    ID    Pre   Post Group
65  66   6.43  12.75    Tx
66  67   5.46  13.89    Tx
67  68  11.69  16.01    Tx
68  69  17.32  12.55    Tx
69  70   8.95  19.67    Tx
70  71   8.34   6.86    Tx
71  72   7.52  17.63    Tx
72  73   5.21  18.84    Tx
73  74   3.73  15.11    Tx
74  75  12.38  19.07    Tx

In [12]:
# Viewing all rows
pd.set_option('display.max_rows', None)

In [13]:
# to reset this
pd.reset_option('display.max_rows')

In [14]:
#Slicing the dataframe
df["Post"] # Slicing column approach 1
df.Post # Slicing a column approach 2

0     17.23
1     16.04
2     19.22
3     19.45
4     18.53
      ...
70     6.86
71    17.63
72    18.84
73    15.11
74    19.07
Name: Post, Length: 75, dtype: float64

In [15]:
# All rows of first column
subset = df.iloc[:,0]
subset

0      1
1      2
2      3
3      4
4      5
      ..
70    71
71    72
72    73
73    74
74    75
Name: ID, Length: 75, dtype: int64

In [ ]:
# Presenting 49 rows of 1st and 3rd Column
newsub = df.iloc[:49, [0,2]]
newsub

In [ ]:
# Presenting rows 5,6,50,57 for all columns
nsub = df.iloc[[5,6,50,57], :]
nsub

In [ ]:
# Presenting rows 10 to 19 of first column
eg = df.iloc[10:19, 1]
eg

In [ ]:
#Checking the structure of the dataframe
df.info()

In [ ]:
#Checking for NAs or missing cases for the data set
df.isnull().values.any()

In [ ]:
# Check for NAs per column
df.isnull().any()

In [ ]:
#Getting a simple descriptives
df.iloc[:, 1].describe() #works with post test measures
# desc = df["Post"].describe()

In [ ]:
# Descriptive for categorical variable
ndesc = df["Group"].describe()
# df["Group"].unique()
ndesc

In [ ]:
# Descriptives when grouped by setup
descPre = np.round(rp.summary_cont(df["Pre"].groupby(df["Group"])),2)
# descPre2 = rp.summary_cont(complete1.Pre.groupby(complete1.Group))
descPost = np.round(rp.summary_cont(df["Post"].groupby(df["Group"])),2)
# descPre2 = rp.summary_cont(complete1.Post.groupby(complete1.Group))

In [ ]:
descPre

In [ ]:
descPost